extends layout

block content
    .titolo
        h1= message
    br
    .center
        if(error.status == 422)
            p Controlla di aver scritto correttamente il nome dello scrittore che hai ricercato o selezionane uno dalla home
        else
            p Errore