extends layout

block content
    .titolo
        h1 SCRITTORI
    .container-writers
        each writer in people
            .writer
                div.img(style=`background:url('${writer.image}') top center no-repeat; background-size: cover;`)
                a(href=`/scrittori/${writer.name}`) #{writer.name}